.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 400px;
  height: 400px;
  gap: 10px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-weight: bold;
  box-sizing: border-box;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(255, 217, 0);
}

.empty {
  background-color: white;
}
